Repository actions/toolkit, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, github_actions, artifact, cache, core, exec, glob, github, http-client, io, tool-cache, attest

.github/labeler.yml:

# Configuration for auto-labeling pull requests
# See https://github.com/actions/labeler for configuration options

# Label PRs that modify documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# Label PRs that modify dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: ['package*.json', '**/package*.json', 'lerna.json']

# Label PRs that modify GitHub Actions workflows
github_actions:
  - changed-files:
    - any-glob-to-any-file: ['.github/workflows/**/*', '.github/actions/**/*']

# Label PRs that modify the artifact package
artifact:
  - changed-files:
    - any-glob-to-any-file: ['packages/artifact/**/*']

# Label PRs that modify the cache package
cache:
  - changed-files:
    - any-glob-to-any-file: ['packages/cache/**/*']

# Label PRs that modify the core package
core:
  - changed-files:
    - any-glob-to-any-file: ['packages/core/**/*']

# Label PRs that modify the exec package
exec:
  - changed-files:
    - any-glob-to-any-file: ['packages/exec/**/*']

# Label PRs that modify the glob package
glob:
  - changed-files:
    - any-glob-to-any-file: ['packages/glob/**/*']

# Label PRs that modify the github package
github:
  - changed-files:
    - any-glob-to-any-file: ['packages/github/**/*']

# Label PRs that modify the http-client package
http-client:
  - changed-files:
    - any-glob-to-any-file: ['packages/http-client/**/*']

# Label PRs that modify the io package
io:
  - changed-files:
    - any-glob-to-any-file: ['packages/io/**/*']

# Label PRs that modify the tool-cache package
tool-cache:
  - changed-files:
    - any-glob-to-any-file: ['packages/tool-cache/**/*']

# Label PRs that modify the attest package
attest:
  - changed-files:
    - any-glob-to-any-file: ['packages/attest/**/*']

update with dist updates
  package-lock.json
  package.json
  packages/artifact/package-lock.json
  packages/artifact/package.json
  packages/artifact/src/internal/upload/blob-upload.ts
  packages/attest/package-lock.json
  packages/attest/package.json
  packages/cache/package-lock.json
  packages/cache/package.json
  packages/core/package-lock.json
  packages/core/package.json
  packages/exec/package-lock.json
  packages/exec/package.json
  packages/github/package-lock.json
  packages/github/package.json
  packages/glob/package-lock.json
  packages/glob/package.json
  packages/http-client/package-lock.json
  packages/http-client/package.json
  packages/io/package-lock.json
  packages/io/package.json
  packages/tool-cache/package-lock.json
  packages/tool-cache/package.json
Labels: dependencies, artifact, cache, core, exec, glob, github, http-client, io, tool-cache, attest

no need to resolve
  packages/cache/__tests__/saveCacheV2.test.ts
Labels: cache

remove cache size limit
  packages/cache/__tests__/saveCacheV2.test.ts
  packages/cache/src/cache.ts
Labels: cache

new error state, tests to cover
  packages/cache/__tests__/saveCache.test.ts
  packages/cache/__tests__/saveCacheV2.test.ts
  packages/cache/src/cache.ts
  packages/cache/src/generated/results/api/v1/cache.ts
Labels: cache

lint
  packages/cache/__tests__/saveCache.test.ts
  packages/cache/__tests__/saveCacheV2.test.ts
Labels: cache

Prepapre cache v4.1.0 release
  packages/cache/RELEASES.md
Labels: documentation, cache

Update the group names
  .github/dependabot.yml
Labels: none

Dependabot: add support for `/packages/artifact` and `/packages/cache
  .github/dependabot.yml
Labels: none

fix: only mock the `cpus()` function on the `os` module instead of the whole module
  packages/artifact/__tests__/config.test.ts
Labels: artifact

Take a direct dependency on `@azure/core-http`
  packages/artifact/package-lock.json
  packages/artifact/package.json
Labels: dependencies, artifact

package json
  packages/attest/package-lock.json
  packages/attest/package.json
Labels: dependencies, attest

Remove the need to update packages/core
  packages/core/package-lock.json
  packages/core/package.json
Labels: dependencies, core

Update workflows and documentation to use the latest versions of first party actions that are available (checkout, setup-node, github-script) =
  .github/workflows/artifact-tests.yml
  .github/workflows/audit.yml
  .github/workflows/cache-tests.yml
  .github/workflows/cache-windows-test.yml
  .github/workflows/codeql.yml
  .github/workflows/releases.yml
  .github/workflows/unit-tests.yml
  .github/workflows/update-github.yaml
  docs/action-types.md
  docs/container-action.md
Labels: documentation, github_actions

remove node 18
  .github/workflows/unit-tests.yml
Labels: github_actions

update some version numbers, will revise in a bit
  packages/github/package-lock.json
  packages/glob/package-lock.json
  packages/http-client/package-lock.json
  packages/io/package-lock.json
Labels: dependencies, glob, github, http-client, io

Update package versions
  packages/exec/package-lock.json
  packages/exec/package.json
  packages/github/package-lock.json
  packages/github/package.json
  packages/glob/package-lock.json
  packages/glob/package.json
  packages/io/package-lock.json
  packages/io/package.json
  packages/tool-cache/package.json
Labels: dependencies, exec, glob, github, io, tool-cache

Keep attest at the same version
  packages/attest/package-lock.json
  packages/attest/package.json
Labels: dependencies, attest

Update documentation
  packages/http-client/README.md
  packages/http-client/package.json
Labels: documentation, dependencies, http-client

remove skip lib check
  packages/attest/tsconfig.json
Labels: attest

Update packages, core doesn't need updates and update to use IO util update
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/platform.ts
Labels: dependencies, core

Update tests to use HTTPS for postman-echo.com and adjust proxy environment variable
  packages/http-client/__tests__/basics.test.ts
  packages/http-client/__tests__/proxy.test.ts
Labels: http-client

change version for http-client
  packages/http-client/package-lock.json
Labels: dependencies, http-client

Revert "Io util package usage update"
  packages/cache/package.json
  packages/exec/package.json
  packages/tool-cache/package.json
Labels: dependencies, cache, exec, tool-cache

override for node-fetch
  package-lock.json
  package.json
  packages/artifact/package.json
  packages/cache/package-lock.json
  packages/cache/package.json
Labels: dependencies, artifact, cache

update io utils
  packages/io/package-lock.json
  packages/io/package.json
  packages/io/src/io-util.ts
Labels: dependencies, io

Io util package usage update
  packages/cache/package.json
  packages/exec/package.json
  packages/tool-cache/package.json
Labels: dependencies, cache, exec, tool-cache

Update HTTP tests to use HTTPS for postman-echo.com
  packages/http-client/__tests__/auth.test.ts
  packages/http-client/__tests__/basics.test.ts
  packages/http-client/__tests__/headers.test.ts
  packages/http-client/__tests__/keepalive.test.ts
  packages/http-client/__tests__/proxy.test.ts
Labels: http-client

Lint fix
  packages/core/src/platform.ts
Labels: core

fix typo
  packages/exec/package-lock.json
  packages/exec/package.json
Labels: dependencies, exec

rebase led to this changing so reverting
  packages/artifact/package-lock.json
  packages/artifact/src/internal/upload/blob-upload.ts
Labels: dependencies, artifact

lint
  packages/artifact/src/internal/upload/blob-upload.ts
Labels: artifact

Add comment to explain the method and return types
  packages/http-client/src/index.ts
Labels: http-client

change back to lstat
  packages/io/src/io-util.ts
Labels: io

Add workflow to test readlink behavior on Windows across Node versions
  .github/workflows/test-readlink-node-versions.yml
Labels: github_actions

Update based on testing to add trailing back slash to all results
  packages/io/src/io-util.ts
Labels: io

spacing
  packages/io/src/io-util.ts
Labels: io

LInt
  packages/io/src/io-util.ts
Labels: io

del file
  .github/workflows/test-readlink-node-versions.yml
Labels: github_actions

Remove unnecessary Buffer to Uint8Array conversion
  packages/attest/src/attest.ts
Labels: attest

fix: bumping max list artifact to 2k
  packages/artifact/src/internal/find/list-artifacts.ts
Labels: artifact
