Repository actions/toolkit, pull requests merged in 2021-05, with the labels that each got.

#783 Release @actions/github v.5.0.0
  package-lock.json
  package.json
  packages/github/README.md
  packages/github/RELEASES.md
  packages/github/__tests__/github.proxy.test.ts
  packages/github/__tests__/github.test.ts
  packages/github/package-lock.json
  packages/github/package.json
Labels: github

#795 Update dependencies of tool-cache to fix `npm audit`
  packages/github/package-lock.json
  packages/github/package.json
  packages/tool-cache/package-lock.json
Labels: chore

#594 Get linux version from os-release file if available
  packages/tool-cache/__tests__/manifest.test.ts
  packages/tool-cache/src/manifest.ts
Labels: tool-cache
